SOAP/src/main/java/client/IPTester.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://client" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://client" xmlns:intf="http://client" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://client" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="argv">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mainResponse">

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:argv" name="argv"/>

   </wsdl:message>

   <wsdl:portType name="IPTester">

      <wsdl:operation name="main" parameterOrder="argv">

         <wsdl:input message="impl:mainRequest" name="mainRequest"/>

         <wsdl:output message="impl:mainResponse" name="mainResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="IPTesterSoapBinding" type="impl:IPTester">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="IPTesterService">

      <wsdl:port binding="impl:IPTesterSoapBinding" name="IPTester">

         <wsdlsoap:address location="http://localhost:8080//services/client/IPTester"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
